.buttons{
    display: flex;
    align-content: center;
    justify-content: center;
    /* margin: auto; */
    
}
body{
    background: url("bgimg4.png");;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Courier New', Courier, monospace
}
#container{
    
    background-image: url("bgimg4.png");
    background-attachment: local;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}
.table{
    padding: 0px;
}
.h1{
    flex-direction: column;
    text-align: center;
    align-content: center;
    color: white;
    font-size: 5em;
    /* margin-bottom: -500px; */
}
.images {
    /* flex-direction: column; */
    /* margin: auto; */
    /* padding-bottom: 100px; */
    color: whitesmoke;
}
button {
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 0px;
    
    background-color: white;
    border: 1px solid white;
    width: 69px;
    height: 48px;
}
.sumdisplay{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* align-items:left;
    justify-content: safe; */
    color: white;
    font-size: 1em;

}
.result{
    color: white;
    flex-direction: row;
    color: white;
    margin: auto;
    position: relative;
}

#resultbox{
    display: inline-flex;
    flex-direction: column;
    color: white;

}


input{
    border: none;
    border-color: transparent;
    background-color: transparent;  
}

.images {
    height: 316px;
    margin-top: 50px;
    margin: auto;
}

#dsum{
    color: white;
    position: absolute;
    padding-left: 5px;
    margin-left: 5px;
    text-justify: auto;
}
#psum{
    color: white;
    position: absolute;
    margin-left: 5px;
    text-justify: auto;
    padding-left: 14px;
}

#show{
    color: white;
}

.cash{
    width: 250px;
    height: 175px;
}